body {
  padding-top: 70px;
  color: black;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

a {
  color: inherit;
}

/*Navbar*/

.navbar {
  background: white;
}

#title {
  text-transform: uppercase;
  font-size: 28px;
  padding: 10px;
  margin: 30px;
}

#navlinks {
  float: right;
  margin: 30px;
}

/*Footer*/

footer {
  margin-bottom: 20px;
  text-align: right;
  color: gray;
}

.login-links {
  margin: 20px;
  padding: 5px;
}

/*Home*/

.home {
  margin: auto;
  max-width: 60%;
}

.img-home {
  max-width: 70%;
  margin-left: 90px;
}

/*.tilt {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.tilt__back,
.tilt__front {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tilt__back {
  position: relative;
}

.tilt__front {
  position: absolute;
  top: 0;
  left: 0;
}*/

/*Artists*/


figure.effect-artist img {
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-30px,0,0) scale(1.12);
  transform: translate3d(-30px,0,0) scale(1.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-artist:hover img {
  opacity: 0.5;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}

.artist-image, #product-image {
  width: 50%;
  float: right;
}

.artists-view {
  width: 500px;
}

.artist-image {
  width: 250px;
}

/*Details*/

#artist-detail-view, #product-detail-view {
  margin: 30px;
}

#artist-detail-image {
  margin-right: 20px;
  max-width: 75%;
}

#artist-detail-bio {
  margin-left: 50px;
}

.product-detail-image {
  margin-left: 40px;
  width: 400px;
}

/*Login*/
#login {
  margin: 100px;
}

/*Dashboard*/

.dashboard-view {
  margin-top: 75px;
  margin-left: 175px;
  margin-right: 150px;
}

.new-btn {
  margin-top: 10px;
}

.btn-warning {
  margin: 5px;
}

.lists {
  list-style-type: none;
}


.logout-btn {
  float: right;
  margin-top: 300px;
}

.dash-names {
  margin: 10px;
  border-bottom: .5px solid black;
}

.glyphicon {
  width: 3vw;
  margin: 20px;
}

.glyphicon-plus {
  margin-left: 50px;
}

.dashboard-title {
  margin-left: 50px;
}

/*Product Edit*/

.product-edit {
  margin: 50px;
}

