<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <ul>
      <li>Get all artists at
        <strong><span class="code">/api/artists</span></strong>
      </li>
      <li>Get a specific artist at
        <strong><span class="code">/api/artists/:id</span></strong>
      </li>
      <li>Create an artist at
        <strong><span class="code">/api/artists</span></strong>
      </li>
      <li>Update an artist at
        <strong><span class="code">/api/artists/:id</span></strong>
      </li>
      <li>Delete an artist at
        <strong><span class="code">/api/artists/:id</span></strong>
      </li>
    </ul>

    <ul>
      <li>Get all products at
        <strong><span class="code">/api/products</span></strong>
      </li>
      <li>Get a specific product at
        <strong><span class="code">/api/products/:id</span></strong>
      </li>
      <li>Create a product at
        <strong><span class="code">/api/products</span></strong>
      </li>
      <li>Update a product at
        <strong><span class="code">/api/products/:id</span></strong>
      </li>
      <li>Delete a product at
        <strong><span class="code">/api/products/:id</span></strong>
      </li>
    </ul>
  </body>
</html>
