<div id="artist-detail-view" class="container">
  <div class="row">
    <h2 id="artist-detail-name">{{vm.artist.name}}</h2>
    <div class="col-md-6">
      <img id="artist-detail-image" src="{{vm.artist.image}}" alt="">
    </div>
    <div class="col-md-6-offset-6">
      <p id="artist-detail-bio">{{vm.artist.bio}}</p>
    </div>
  </div>
  <div class="row product-carousel">
    <div class="artist-product" ng-repeat="product in vm.artist.products">
      <div class="artist-product-image">
        <img class="product-image" ng-src="{{product.image}}" alt="">
      </div>
      <p>{{product.name}}</p>
    </div>
  </div>
</div>
