<form class="artist-edit">
  <div class="form-group">
    <label for="name">Name</label>
    <input ng-model="vm.artist.name" type="text" class="form-control" value="{{vm.artist.name}}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Bio</label>
    <textarea ng-model="vm.artist.bio" type="text" class="form-control" value="{{vm.artist.bio}}"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Image URL</label>
    <input type="text" class="form-control" ng-model="vm.artist.image" value="{{vm.artist.image}}">
  </div>
  <button ng-click="vm.updateArtist()" type="submit" class="btn btn-primary">Submit</button>
</form>
