<div class="dashboard-view" class="container">
  <div class="row">
    <div class="col-md-6">

      <h4 id="artists-title" class="dashboard-title">Artists</h4>

      <button id="add-artist" class="btn btn-success" ng-click="vm.isAFormOpen = !vm.isAFormOpen">Add Artist</button>

      <form ng-show="vm.isAFormOpen" id="artist-new">
        <div class="form-group">
          <label for="name">Name</label>
          <input ng-model="vm.name" type="text" class="form-control" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Bio</label>
          <textarea ng-model="vm.bio" type="text" class="form-control" placeholder="Bio"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Image URL</label>
          <input type="text" class="form-control" ng-model="vm.image">
        </div>
        <button ng-click="vm.createArtist()" class="btn btn-primary">Submit</button>
      </form>

      <ul class="lists">
        <li class="dash-names" ng-repeat="artist in vm.artists">{{artist.name}}
          <div class="namespace"></div>
          <a ui-sref="artist-edit({id: '{{artist._id}}'})"><i class="glyphicon glyphicon-edit"></i></a>
          <a class="custom-pointer" href=""><i ng-click="vm.deleteArtistModal(artist._id)" class="glyphicon glyphicon-trash"></i></a>
        </li>
      </ul>

    </div>

    <div class="col-md-6">

      <h4 class="dashboard-title">Products</h4>

      <button id="add-product" class="btn btn-success" ng-click="vm.isPFormOpen = !vm.isPFormOpen">Add Product</button>

      <form ng-show="vm.isPFormOpen" id="product-new">
        <div class="form-group">
          <label for="name">Name</label>
          <input ng-model="vm.name" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="exampleSelect1">Select Artist</label>
          <select ng-options="artist.name for artist in vm.artists" ng-model="vm.artist" class="form-control" id="exampleSelect1">
          </select>
        </div>
        <div class="form-group">
          <label for="medium">Medium</label>
          <input ng-model="vm.medium" type="text" class="form-control" placeholder="Medium">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea ng-model="vm.description" type="text" class="form-control" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input ng-model="vm.price" type="text" class="form-control" placeholder="Price">
        </div>
        <div class="form-group">
          <label for="image">Image URL</label>
          <input ng-model="vm.image" type="text" class="form-control" ng-model="vm.image">
        </div>
        <button ng-click="vm.createProduct()" class="btn btn-primary">Submit</button>
      </form>

      <ul class="lists">
        <li class="dash-names" ng-repeat="product in vm.products">{{product.name}}
          <div class="namespace"></div>
          <a ui-sref="product-edit({id: '{{product._id}}'})"><i class="glyphicon glyphicon-edit"></i></a>
          <a class="custom-pointer" href=""><i ng-click="vm.deleteProductModal(product._id)" class="glyphicon glyphicon-trash"></i></a>
        </li>
      </ul>

    </div>

  </div>
</div>


<!-- Modals -->
<div class="modal fade" id="delete-confirm-artist" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this artist?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="vm.deleteArtist()" type="button" class="btn btn-danger" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-confirm-product" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this product?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="vm.deleteProduct()" type="button" class="btn btn-danger" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>
