<form class="product-edit"">
  <div class="form-group">
    <label for="name">Name</label>
    <input ng-model="vm.product.name" type="text" class="form-control"">
  </div>
  <div class="form-group">
    <label for="medium">Medium</label>
    <input ng-model="vm.product.medium" type="text" class="form-control" value="{{vm.product.medium}}">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea ng-model="vm.product.description" type="text" class="form-control" value="{{vm.product.description}}"></textarea>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input ng-model="vm.product.price" type="text" class="form-control" value="{{vm.product.price}}">
  </div>
  <div class="form-group">
    <label for="image">Image URL</label>
    <input ng-model="vm.product.image" type="text" class="form-control" value="{{vm.product.image}} ng-model="vm.image">
  </div>
  <button ng-click="vm.updateProduct()" class="btn btn-primary">Submit</button>
</form>
