<form id="product-new">
  <div class="form-group">
    <label for="name">Name</label>
    <input ng-model="vm.name" type="text" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Artist</label>
    <select ng-model="vm.artist" class="form-control" id="exampleSelect1">
      <option ng-repeat="vm.artist.name"></option>
    </select>
  </div>
  <div class="form-group">
    <label for="medium">Medium</label>
    <input ng-model="vm.medium" type="text" class="form-control" placeholder="Medium">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea ng-model="vm.description" type="text" class="form-control" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input ng-model="vm.price" type="text" class="form-control" placeholder="Price">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input ng-model="vm.image" type="file" class="form-control-file" ng-model="vm.image" aria-describedby="fileHelp">
  </div>
  <button ng-click="vm.createProduct()" type="submit" class="btn btn-primary">Submit</button>
</form>
