<div class="container">

  <!-- <label for="Search Products"><input ng-model="" type="text"></label> -->

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <ul id="products">
        <li ng-repeat="product in vm.products">
          <figure class="effect-product">
            <a href="/products/{{product._id}}"><img id="product-image" ng-src="{{product.image}}" alt=""></a>
          </figure>
        </li>
      </ul>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
